<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dashboard</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<style type="text/css">
		.cajas{
			text-decoration: underline;
			text-align: center;
		}
    p{
      display: inline;
    }
	</style>
</head>
<div class="container">
<body>
	<div>
	<header>
	<h1>Dashboard de Proyectos</h1>
	<h2>Proyectos: 
			<select id="combo">
			<!--
				dinamicamente
			--></select><br>
	</h2></header></div>
	<div>
	<button type="button" class="btn btn-primary btn-lg" id="at" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"> Agregar tarea</span></button></div>
	<div><br><br></div>
	<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Crear Nueva Tarea</h4>
      </div>
      <div class="modal-body">
        <div>
        	<form id="titulo">
        		Título: <input type="text" name="titulo">
        	</form>
        </div>
        <div>
        	<form id="descripcion">
        		Descripción: <textarea rows="4" cols="50"></textarea>
        	</form>
        </div>
        <div>
        	<form id="responsable">
        		Responsable: <input type="text" name="resp">
        		<button class=" btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="false"></span></button>
        	</form>
        </div>
        <div>
        	<form id="estado">
        		Estado: <span>Inicial</span>
        	</form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success" id="crear">Crear</button>
      </div>
    </div>
  </div>
</div>
<!--modal seguro eliminar? -->
<div class="modal fade" id="elimModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
    	<h1 style="padding-left: 1em"><span class="glyphicon glyphicon-warning-sign"></span></h2>
    </div>
      <div class="modal-body">
        <div>
        	<h3>	¿Está seguro de realizar esta acción?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" id="si" style="width: 5em">Sí</button>
        <span id="idd" style="display: none;"></span>
      </div>
    </div>
  </div>
</div>
</div>
<div>
	<div class="panel panel-default col-md-3 col-sm-offset-1">
  		<div class="panel-body">
    		<h4 class="cajas">Inicial</h4>
    		<div class="panel panel-default">
  			<div class="panel-body" id="tini">
    			<!--
    				dinamicamente
    			-->
  			</div>
		</div>
  		</div>
	</div>
	<div class="panel panel-default col-md-3 col-sm-offset-1">
  		<div class="panel-body">
    		<h4 class="cajas">En Desarrollo</h4>
    		<div class="panel panel-default">
  			<div class="panel-body" id="tdes">
    			<!--
    				dinamicamente
    			-->
  			</div>
		</div>
  		</div>
	</div>
	<div class="panel panel-default col-md-3 col-sm-offset-1">
  		<div class="panel-body">
    		<h4 class="cajas">Finalizado</h4>
    		<div class="panel panel-default">
  			<div class="panel-body" id="tfin">
    			<!--
    				dinamicamente
    			-->
  			</div>
		</div>
  		</div>
	</div>
	</div>
	<!-- Latest compiled and minified JavaScript -->
	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
 <script
  src=" //cdn.jsdelivr.net/interact.js/1.2.6/interact.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</div>
</body>
<script type="text/javascript" src="javascripts/dashboard.js">	</script>
<script type="text/javascript" src="javascripts/dragDrop.js">	</script>
</html>